<div class="top-right">
  <div class="configuration" style="border: 1px solid black;">
    <h3>Configuration</h3>
    <div *ngFor="let player of players">
      <label for="player.name">minimax Player depth {{player.name}} </label>
      <input id="player.name" type="number" [ngModel]="player.depth" (ngModelChange)="updateDepth($event, player)"/>
    </div>
    <div>
      <label for="waitingtime">Waiting time after AI move</label>
      <input id="waitingtime" type="number" [(ngModel)]="waitingTimeAfterAiMoveMs"/> ms
    </div>
  </div>
  <div class="configuration" style="border: 1px solid black;">
    <h3>Games History</h3>
    <button (click)="clearHistory()">clear</button>
    <div *ngFor="let histo of history; let i = index">
      {{i + 1}}: {{histo.gameResult}} {{histo.playerName}}
    </div>
  </div>
</div>


<div class="current-player">
  Current Player:
  <div class="color-square" [ngStyle]="{ backgroundColor: currentPlayer.cellType.color }"></div>
</div>

<div class="game-mode" *ngFor="let player of players">
  <button (click)="toggleGameMode(player.id)">Toggle Game Mode Player {{player.name}}</button>
  <span *ngIf="player.isAi">Game Mode: AI</span>
  <span *ngIf="!player.isAi">Game Mode: Human</span>
</div>

<button (click)="aiMove()">Do 1 minimax move</button>

<div *ngIf="isWaitingAiResponse" class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="connect4-grid-container">
  <table class="connect4-grid">
    <tr>
      <td *ngFor="let score of columnScores; let i = index" class="column-number"
          [ngClass]="{ 'bold-score': i === lastAiMove }">
        {{score}}
      </td>
    </tr>
    <tr *ngFor="let row of connect4Grid">
      <td *ngFor="let cell of row" [ngClass]="cellTypes[cell].style" (click)="humanMove(getColumnIndex($event.target))">
      </td>
    </tr>
  </table>
  <button (click)="resetGrid()">Restart game</button>
</div>

