<div class="top-right">
  <div class="configuration">
    <h3>Configuration</h3>
    <div *ngFor="let player of players">
      <label for="player.name">minimax Player depth {{player.name}} </label>
      <select id="player.name" [(ngModel)]="player.depth">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="7">7</option>
      </select>
    </div>
    <!-- Add more variables and dropdown lists as needed -->
  </div>
</div>

<div class="current-player">
  Current Player:
  <div class="color-square" [ngStyle]="{ backgroundColor: currentPlayer.cellType.color }"></div>
</div>

<div class="game-mode" *ngFor="let player of players">
  <button (click)="toggleGameMode(player.id)">Toggle Game Mode Player {{player.name}}</button>
  <span *ngIf="player.isAi">Game Mode: AI</span>
  <span *ngIf="!player.isAi">Game Mode: Human</span>
</div>

<button (click)="aiMove()">minimax</button>

<div *ngIf="miniMaxBestMove != -1" class="current-player">
  {{miniMaxBestMove}}
</div>


<div class="connect4-grid-container">
  <table class="connect4-grid">
    <tr>
      <td *ngFor="let score of columnScores" class="column-number">
        {{score}}
      </td>
    </tr>
    <tr *ngFor="let row of connect4Grid">
      <td *ngFor="let cell of row" [ngClass]="cellTypes[cell].style" (click)="addToken(getColumnIndex($event.target))">
      </td>
    </tr>
  </table>
  <button (click)="resetGrid()">Reset</button>
</div>
